.navbar {
    /* width: 100%; */
    background-color: red;
    height: 85px;
    display: flex;
    padding-right: 140px;
    align-items: center;
    justify-content: space-between;

    font-family: ABeeZee;

}

.primary img {
    width: 60px;
    height: 30px;
    gap: 0px;
    margin-top: 20px;

}

.buttons1 {
    display: flex;
    /* margin-top: 20px; */
    /* margin-right: 20px; */
    width: 118px;
    height: 50px;

}