.section1 {
    width: 100%;
    background-color: transparent;
    height: 100vh;
    text-align: center;
    padding-top: 57vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    animation: fadeIn 2s ease-in-out;
}

span {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0.2em;
    opacity: 0;
    animation: slideIn 1s ease-in-out forwards;
}

.section1 button {
    width: 11.5%;
    padding: 15px;
    background-color: transparent;
    border: 1px white solid;
    color: white;
    font-size: 24px;
    margin-top: 20px;
    opacity: 0;
    animation: fadeInUp 1.5s ease-out 0.5s forwards;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.section1 button:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    span {
        font-size: 8vw;
    }

    .section1 {
        padding-top: 300px;
    }

    .section1 button {
        width: 50%;
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    span {
        font-size: 10vw;
    }

    .section1 button {
        width: 60%;
        font-size: 5vw;
    }
}