.well {
    background: url('../images/Rectangle\ 77.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    font-family: roboto;
    animation: fadeIn 1.5s ease-in-out;
}

.class3 {
    width: 50%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 100;
    padding-bottom: 60px;
}

.class3 h3,
.class3 h2,
.class3 h1 {
    opacity: 0;
    animation: slideIn 1s ease-in-out forwards;
}

.class3 h3 {
    font-variant-caps: all-petite-caps;
    font-weight: 300;
    font-size: 25px;
    color: white;
}

.class3 h2 {
    margin-top: -20px;
    color: white;
    font-variant-caps: all-petite-caps;
    font-weight: 300;
    font-size: 80px;
    animation-delay: 0.3s;
}

.class3 h1 {
    color: white;
    font-size: 25px;
    margin-top: -30px;
    font-weight: 300;
    animation-delay: 0.6s;
}

.class3 button {
    margin-top: 20px;
    padding: 20px;
    width: 26%;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 6px;
    opacity: 0;
    animation: fadeInUp 1.5s ease-out 1s forwards;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.class3 button:hover {
    background-color: rgb(255, 196, 196);
    color: black;
    transform: scale(1.05);
}

.class4 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
    font-variant-caps: all-petite-caps;
    font-weight: 100;
}

.class4 p {
    width: 90%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.546);
    transition: color 0.3s, transform 0.3s;
}

.class4 p:hover {
    color: rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
}

.class4 .ext {
    width: 90%;
    border-bottom: none;
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-weight: 100;
}

.ext h3 {
    font-weight: 100;
    transition: color 0.3s, transform 0.3s;
}

.ext h3:hover {
    color: rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .well {
        flex-direction: column;
        gap: 90px;
    }

    .class3 {
        width: 80%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        justify-content: flex-start;
        margin-top: 40px;
    }

    .class3 h3 {
        font-size: 20px;
    }

    .class3 h2 {
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 40px;
    }

    .class3 h1 {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.643);
    }

    .class3 button {
        width: 60%;
        padding: 15px;
        font-size: 10px;
    }

    .class4 {
        width: 80%;
        margin-top: 10px;
        padding-left: 40px;
    }

    .class4 p {
        width: 100%;
        font-size: 20px;
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.546);
        display: flex;
        align-items: center;
        margin: 3px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .class4 .ext {
        width: 100%;
    }

    .ext h3 {
        font-size: 14px;
        margin-bottom: 5px;
    }
}